{% extends ':admin:base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="count col-sm-12">Total count: {{ pagination.getTotalItemCount }}</div>
            <div class="pull-left">
                Sort by:
                {{ knp_pagination_sortable(pagination, 'Id', 'post.id' ) }}
                {% if pagination.isSorted('post.id') %} <i class="fa fa-fw fa-sort"> </i> {% endif %}
                {{ knp_pagination_sortable(pagination, 'Title', 'post.title') }}
                {% if pagination.isSorted('post.title') %}<i class="fa fa-fw fa-sort"> </i>{% endif %}
                {{ knp_pagination_sortable(pagination, 'Published', 'post.publishedAt') }}
                {% if pagination.isSorted('post.publishedAt') %}<i class="fa fa-fw fa-sort"> </i>{% endif %}
                {{ knp_pagination_sortable(pagination, 'Author', 'author.firstName') }}
                {% if pagination.isSorted('author.firstName') %}<i class="fa fa-fw fa-sort"> </i>{% endif %}</div>
        </div>
        <div class="table-responsive table">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Post name</th>
                    <th>Post slug</th>
                    <th><i class="fa fa-calendar"> </i> Published at</th>
                    <th><i class="fa fa-user-circle-o"> </i> Author</th>
                    <th><i class="fa fa-dashboard"> </i> Actions</th>
                </tr>
                </thead>
                {% for post in pagination %}
                    <tbody>
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.slug }}</td>
                        <td>{{ post.publishedAt|date('Y-m-d H:m') }}</td>
                        <td>{{ post.author.username }}</td>
                        <td>
                            <a href="{{ path('edit_post', {slug: post.slug}) }}" title="Edit"
                               class="btn btn-default btn-xs"><i
                                        class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> Edit</a>
                            <a href="{{ path('delete_post', {slug: post.slug}) }}" title="Delete"
                               class="btn btn-danger btn-xs"
                               data-confirm="Are you sure you want to delete this post?"><i class="fa fa-trash-o fa-1x"
                                                                                            aria-hidden="true"></i>
                                Delete</a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}


{% block stylesheets %}

{% endblock %}

